#select-drop{
    text-align: center;
}
#select-drop .drop-menu{
    width: 90%;
    border: var(--primary-border);;
    height: 2.3rem;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
     font-size: 1.2rem;
     padding: .2rem;
    background-color: #2a2a2a;
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}
#select-drop .drop-menu::after{
    font-family: FontAwesome;
    content: "\f0dd";
}
@media only screen and (min-width:600px){
    #select-drop .drop-menu{
        width: 70%;
    }
}
@media only screen and (min-width:1280px){
    #select-drop .drop-menu{
        width: 90%;
    }
}